.faq {
  @include adaptiveValue("padding-top", 60, 30);
  overflow: hidden;

  /* .faq__container */
  &__container {
    @media (min-width:$tablet) {
      margin-bottom: toRem(120);
    }
  }

  /* .faq__title */
  &__title {
    margin-bottom: toRem(30);
  }
}