.first {
  background-color: $bodyColor;
  overflow: hidden;
  @include adaptiveValue("padding-top", 50, 30);

  /* .first__container */
  &__container {
    // grid-template-columns: auto 44.6%;

    margin-bottom: toRem(200);

    @media (min-width:em(1200)) {
      display: flex;
      align-items: center;
      justify-items: center;
    }

    @media (max-width:$mobile) {
      margin-bottom: toRem(150);
    }

    @media (max-width:$tablet) {}
  }

  /* .first__content */
  &__content {
    // padding-right: toRem(20);
    position: relative;
    background: $bodyColor;
    z-index: 100;

    @media (max-width: em(1200)) {
      margin-bottom: toRem(50);
    }
  }

  /* .first__title */
  &__title {
    @include adaptiveValue("margin-bottom", 50, 30);

    @media (min-width:em(1199)) {
      padding-right: toRem(20);
    }
  }

  /* .first__text-block */
  &__text-block {
    // height: toRem(608);
    height: toRem(455);
    // overflow-y: scroll;
    direction: rtl;
    display: flex;

    @media (max-width: em(1200)) {
      height: toRem(355);
    }
  }

  /* .first__text */
  &__text {
    padding-left: toRem(30);
    padding-right: toRem(20);

    background: linear-gradient(180.76deg, rgb(255, 255, 255), rgba(255, 255, 255, 0));
    // -webkit-background-clip: text;
    // -webkit-text-fill-color: transparent;
    background-clip: text;
    // text-fill-color: transparent;

    p {
      @include adaptiveValue("font-size", 20, 16);
      font-weight: 300;
      line-height: 32px;
      letter-spacing: 1px;
      // letter-spacing: 5%;
      text-align: left;

      &:not(:last-child) {
        margin-bottom: toRem(33);
      }

      span {
        font-weight: 900;
      }

      @media (max-width:$mobile) {
        line-height: 26px;

      }
    }
  }

  /* .first__media */
  &__media {}

  /* .first__slider */
  &__slider {
    // transform: translate(7%.36%, 0px) !important;
    position: relative;
    overflow: visible !important;

    // margin-left: toRem(100);
    @media (min-width:$tablet) {}

    @media (min-width:em(1200)) {
      // overflow: visible !important;
      // margin-left: toRem(50);
    }
  }

  &__swiper-pagination {

    @media (min-width:em(1999)) {
      transform: translate(0px, 0px);
    }
  }

  /* .first__wrapper */
  &__wrapper {}

  /* .first__slide */
  &__slide {
    background-color: $bodyColor;

    // border: 1px solid red;



    img {
      max-width: 100%;
      mix-blend-mode: lighten;

      @media (max-width:em(1200)) {
        max-width: 48%;
        transform: translate(50%, 0px);
      }

      @media (max-width:$mobile) {
        max-width: 80%;
        transform: translate(10%, 0px);
      }
    }


  }
}