.reviews {

  /* .reviews__container */
  &__container {}

  /* .reviews__title */
  &__title {
    margin-right: toRem(-60);
    @include adaptiveValue("margin-bottom", 79, 38);
  }

  /* .reviews__slider */
  &__slider {
    overflow: visible !important;
  }

  /* .reviews__wrapper */
  &__wrapper {}

  /* .reviews__slide */
  &__slide {
    width: auto;
    @include adaptiveValue("padding-top", 78, 30);
    @include adaptiveValue("padding-right", 90, 30);
    @include adaptiveValue("padding-bottom", 80, 26);
    @include adaptiveValue("padding-left", 115, 27);

    border: 1px solid rgba($color: #fff, $alpha: .16);
  }

  /* .reviews__header */
  &__header {
    display: flex;
    align-items: center;
    @include adaptiveValue("column-gap", 50, 13);

    @include adaptiveValue("margin-bottom", 41, 24);
  }

  /* .reviews__photo */
  &__photo {
    border-radius: 50%;
    @include adaptiveValue("width", 193, 70);
    @include adaptiveValue("height", 193, 70);
  }

  /* .reviews__data */
  &__data {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  &__person {
    display: grid;
    gap: toRem(8)
  }

  /* .reviews__name */
  &__name {
    @include adaptiveValue("font-size", 24, 18);
    letter-spacing: 1.2px;
    line-height: 28px;

    @media (max-width:$mobile) {
      letter-spacing: .9px;
    }
  }

  /* .reviews__direction */
  &__direction {
    @include adaptiveValue("font-size", 18, 14);
    line-height: 28px;
    letter-spacing: .9px;
    font-weight: 300;

    @media (max-width:$mobile) {
      letter-spacing: .7px;
    }
  }

  /* .reviews__ratng */
  &__ratng {}

  /* .reviews__content */
  &__content {
    height: toRem(147);
    @include adaptiveValue("padding-right", 24, 3);
  }

  /* .reviews__text */
  &__text {
    font-weight: 300;
  }

  /* .reviews__swiper-pagination */
  &__swiper-pagination {}
}