.secret {
  padding-top: toRem(40);
  padding-bottom: toRem(46);

  background-color: $bodyColor;

  /* .secret__container */
  &__container {
    position: relative;
    display: grid;
    grid-template-columns: 52% auto;
    align-items: center;

    @media (max-width: em(1366)) {
      grid-template-columns: auto;
    }
  }

  /* .secret__content */
  &__content {}

  /* .secret__title */
  &__title {
    @include adaptiveValue("margin-bottom", 34, 43);
  }

  /* .secret__subtitle */
  &__subtitle {
    @include adaptiveValue("margin-bottom", 38, 21);


    /* .secret__subtitle_sub */
    &_sub {
      // @include adaptiveValue("padding-top", 48, 38);
      padding-top: toRem(33);
      color: rgba($color: #fff, $alpha: .4);
    }
  }

  /* .secret__list */
  &__list {
    max-width: toRem(660);
  }

  /* .secret__item */
  &__item {
    position: relative;
    padding-left: toRem(64);

    &:not(:last-child) {
      margin-bottom: toRem(27);
    }

    background: url('@img/icons/marker.svg') 0 0 no-repeat;

    font-weight: 300;

    &::before {
      content: '';
      position: absolute;
      left: 30px;
      background-color: #A3A3A3;
      width: toRem(16);
      height: 1px;
      top: 12px;
    }
  }

  /* .secret__media */
  &__media {
    // position: relative;

    @media (min-width:em(1367)) {
      margin-right: -109px;
      margin-left: -244px;
    }

    @media (max-width: em(1366)) {
      justify-self: center;

    }


    img {
      // position: absolute;
      // top: -63px;
      // right: -246px;
      // left: 0;
      mix-blend-mode: lighten;
      // margin-left: 200px;
      // transform: translate(20%, 0px);
      max-width: 100%;
      object-fit: cover;

      @media (max-width: em(1700)) {
        width: 90%;
      }

      @media (max-width: em(1550)) {
        width: 74%;
      }

      @media (min-width: em(1367)) {
        transform: translate(152px, -65px);
      }

      @media (max-width: em(1366)) {
        width: 94%;
        margin-left: 6%;

      }


    }
  }
}

.section-line {

  /* .section-line_left */
  &_left {}
}

.title-h2 {}

.subtitle-h3 {}