.setup {
  background: url('@img/back-main.png') center center no-repeat;

  /* .setup__container */
  &__container {}

  /* .setup__title */
  &__title {
    margin-bottom: toRem(20);

    text-align: center;
  }

  /* .setup__body */
  &__media {
    position: relative;
    max-width: toRem(516);
    // display: grid;

    @media (min-width:em(1101)) {
      margin: 0 auto;
    }

    @media (max-width: em(1100)) {
      margin-left: auto;
      transform: translate(-20%, 0px);
    }

    @media (max-width:$mobile) {
      // transform: translate(20%, 0px);
    }

    img {
      max-width: 100%;
    }
  }
}


.line-tooltip {
  display: inline-block;
  position: absolute;
  border-bottom: 1px solid #fff;
  padding-bottom: toRem(8);
  max-width: toRem(308);

  @include adaptiveValue("font-size", 18, 14);
  letter-spacing: .9px;
  line-height: 24px;


  &::before {
    content: "";
    display: block;
    position: absolute;
    width: 1px;
    background-color: #fff;
    transform-origin: 0 0;

    z-index: 5;
  }

  &::after {
    content: '';
    position: absolute;
    background: url('@img/icons/link-point.svg') 0 0 no-repeat;
    width: toRem(45);
    height: toRem(45);

    z-index: 10;
    cursor: pointer;
  }


  &_1 {
    left: -10.3%;
    top: 8.6%;

    &::before {
      bottom: -119px;
      right: -1px;
      height: toRem(118);
      transform: rotate(307deg);
    }

    &::after {
      right: -135px;
      bottom: -107px;
    }
  }

  &_2 {
    right: -46.1%;
    top: 18.4%;


    @media (max-width: em(1100)) {
      // right: auto;
      left: -32%;
      top: -1.6%;
    }

    &::before {
      bottom: -194px;
      left: 0;
      height: toRem(194);
      transform: rotate(116deg);

      @media (max-width: em(1100)) {
        left: auto;
        right: 0;
        transform: rotate(-77deg);
        height: 100px;
        bottom: -101px;
      }
    }

    &::after {
      left: -218px;
      top: -62px;

      @media (max-width: em(1100)) {
        left: 402px;
        top: 63px;
      }
    }

  }

  &_3 {
    max-width: toRem(342);
    left: -47%;
    top: 30.3%;

    @media (max-width: em(1100)) {
      left: -47%;
      top: 21.3%;
    }

    @media (min-width:em(1101)) {
      text-align: right;
    }

    &::before {
      bottom: -119px;
      right: 0;
      height: toRem(118);
      transform: rotate(307deg);
    }

    &::after {
      right: -135px;
      bottom: -107px;
    }
  }

  &_4 {
    right: -46.7%;
    top: 35.4%;
    max-width: toRem(300);

    &::before {
      bottom: -126px;
      left: 0;
      height: toRem(126);
      transform: rotate(49deg);
    }

    &::after {
      right: 390px;
      bottom: -120px;
    }
  }

  &_5 {
    left: -38.6%;
    bottom: 37.5%;
    max-width: 300px;

    @media (max-width: em(1100)) {
      bottom: 39.5%;
      left: -46.6%;
    }

    @media (min-width:em(1101)) {
      text-align: right;
    }

    &::before {
      bottom: -119px;
      right: 0;
      height: toRem(118);
      transform: rotate(307deg);

      @media (max-width: em(1100)) {
        transform: rotate(-56.4deg);
        bottom: -141px;
        height: 140px;
      }
    }

    &::after {
      right: -135px;
      bottom: -107px;

      @media (max-width: em(1100)) {
        right: -158px;
        bottom: -113px;
      }
    }
  }

  &_6 {
    right: -47%;
    top: 58%;

    @media (max-width: em(1100)) {
      left: -47%;
      top: 38%;
    }

    &::before {
      bottom: -163px;
      left: 0;
      height: toRem(163);
      transform: rotate(69deg);

      @media (max-width: em(1100)) {
        left: auto;
        right: 0;
        bottom: -251px;
        height: toRem(250);
        transform: rotate(-45deg);
      }
    }

    &::after {
      left: 479px;
      bottom: -213px;
    }
  }
}