.video {

  overflow: hidden;

  /* .video__container */
  &__container {}

  /* .video__title */
  &__title {
    @include adaptiveValue("margin-bottom", 30, 25);
  }

  /* .video__channel */
  &__channel {
    display: flex;
    align-items: center;
    @include adaptiveValue("gap", 18, 11);
    @include adaptiveValue("margin-bottom", 55, 22);

    svg {
      @include adaptiveValue("width", 37, 22);
      @include adaptiveValue("height", 29, 17);
    }
  }

  /* .video__slider */
  &__slider {
    overflow: visible !important;
  }

  /* .video__wrapper */
  &__wrapper {}

  /* .video__slide */
  &__slide {}

  /* .video__image-ibg */
  &__image-ibg {
    // aspect-ratio: 690 / 400;
    padding-bottom: 55.57%;
  }

  /* .video__name */
  &__name {}

  /* .video__swiper-pagination */
  &__swiper-pagination {}
}


.video-popup-video {
  top: 50%;
  left: 50%;
  // z-index: 1;
  transform: translate(-50%, -50%);

  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  @include adaptiveValue("width", 120, 56);
  @include adaptiveValue("height", 120, 56);

  border-radius: 50%;

  border: 1px solid #fff;
  transition: all 0.3s;


  &::before {
    content: '';
    top: 0;
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #fff;
    transition: all 0.3s;
    opacity: 0;
    z-index: -1;
  }

  @media (any-hover: hover) {
    &:hover {
      &::before {
        opacity: 1;
      }
    }
  }

  svg {
    path {
      transition: all 0.3s;
    }
  }

  @media (any-hover: hover) {
    &:hover {
      path {
        fill: #32353D;
      }
    }
  }
}