body::after {
	content: "";
	background-color: rgba(0, 0, 0, 0.5);
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	opacity: 0;
	transition: opacity 0.8s ease 0s;
	pointer-events: none;
	z-index: 149;
}

.popup-show body::after {
	opacity: 1;
}

.popup {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	// padding: 30px 10px;
	transition: visibility 0.8s ease 0s;
	// visibility: hidden;
	pointer-events: none;
}

.popup_show {
	z-index: 150;
	visibility: visible;
	overflow: auto;
	pointer-events: auto;
}

.popup_show .popup__content {
	visibility: visible;
	opacity: 1;
	transform: scale(1);
}

.popup__close {
	position: absolute;
	right: toRem(45);
	top: toRem(40);
	z-index: 100;

	@media (max-width:$mobile) {
		right: toRem(35);
		top: toRem(30);
	}
}

.popup__wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 100%;
	flex: 1 1 auto;
	width: 100%;
}

.popup__content {
	background-color: #22242A;
	width: 100%;
	max-width: toRem(1400);

	visibility: hidden;
	opacity: 0;
	transform: scale(.6);
	transition: all 0.6s ease 0s;

	.video-popup & {
		background-color: #000;
	}

	.lock & {
		visibility: visible;
	}
}

.popup__body {
	padding: toRem(111) toRem(118) toRem(97) toRem(114);
}

.popup__title {
	@include adaptiveValue("font-size", 36, 27);
	line-height: toRem(34);
	letter-spacing: toRem(1.8);

	@media (max-width:$mobile) {
		letter-spacing: toRem(1.35);
	}
}

.popup__subtitle {
	@include adaptiveValue("font-size", 21, 16);
	line-height: toRem(28);
	letter-spacing: toRem(1.05);

	@media (max-width:$mobile) {
		line-height: toRem(26);
		letter-spacing: toRem(.8);
	}
}

.popup__name {
	font-size: toRem(20);
	line-height: toRem(36);
	letter-spacing: toRem(1);

	@media (max-width:$mobile) {
		font-size: toRem(18);
		line-height: toRem(28);
		letter-spacing: toRem(.9);
	}
}


.video-popup__content {
	min-height: 80vh;
	position: relative;
	max-width: toRem(1400);
	aspect-ratio: 16 / 9;
}


.video-popup__content iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	// border-radius: 50px;
}