.title-h1,
.title-h1 span,
.title-h2 {
	font-family: MontserratAlternates;
	@include adaptiveValue("font-size", 55, 27);

	font-weight: 700;
	// line-height: 70px;
	letter-spacing: 2.75px;

	@include adaptiveValue("line-height", 70, 37);

	@media (max-width:$tablet) {
		// line-height: 37px;
	}
}

.title-h1 span {
	@include adaptiveValue("font-size", 38, 18);

	@include adaptiveValue("line-height", 70, 28);

	white-space: wrap;


	@media (min-width:em(1366)) {
		white-space: nowrap;
	}

	// @media (max-width:$tablet) {
	// 	line-height: 28px;
	// }
}

.subtitle-h3 {
	@include adaptiveValue("font-size", 24, 20);
	color: $subColor;
	font-weight: 400;
	line-height: 34px;
	letter-spacing: 1.2px;

	span {
		color: #fff;
		font-weight: 500;
	}
}

.text-18 {
	@include adaptiveValue("font-size", 18, 16);
	color: $subColor;
	line-height: 28px;
	letter-spacing: .9px;

	span {
		font-weight: 600;
		color: #fff;
	}
}


// Анимации


[anim-up-down] {
	// transform: translate(rem(0), rem(20));
	transform: translate(toRem(0), toRem(30));
	opacity: 0;
	transition: all $animSpeed ease 0s;

	&._watcher-view {
		transform: none;
		opacity: 1;
	}
}


[delay10] {
	transition: all $animSpeed ease .1s;
}

[delay20] {
	transition: all $animSpeed ease .2s;
}

[delay30] {
	transition: all $animSpeed ease .3s;
}

[delay40] {
	transition: all $animSpeed ease .4s;
}

[delay50] {
	transition: all $animSpeed ease .5s;
}

[delay60] {
	transition: all $animSpeed ease .6s;
}

[delay70] {
	transition: all $animSpeed ease .7s;
}

[delay80] {
	transition: all $animSpeed ease .8s;
}

[delay120] {
	transition: all $animSpeed ease 1.2s;
}