.title-h1 {
	font-family: Montserrat;
	font-size: 92px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	letter-spacing: 4.6px;

	// @media (max-width:$tablet) {
	// 	text-align: center;
	// }

	// @media (max-width: em(600)) {
	// 	text-align: left;
	// }
}

.title-h2 {
	font-size: 76px;
	font-weight: 600;
	line-height: normal;
	letter-spacing: 3.8px;
	text-align: center;
}



// Анимации


[anim-up-down] {
	// transform: translate(rem(0), rem(20));
	transform: translate(toRem(0), toRem(30));
	opacity: 0;
	transition: all $animSpeed ease 0s;

	&._watcher-view {
		transform: none;
		opacity: 1;
	}
}


[delay10] {
	transition: all $animSpeed ease .1s;
}

[delay20] {
	transition: all $animSpeed ease .2s;
}

[delay30] {
	transition: all $animSpeed ease .3s;
}

[delay40] {
	transition: all $animSpeed ease .4s;
}

[delay50] {
	transition: all $animSpeed ease .5s;
}

[delay60] {
	transition: all $animSpeed ease .6s;
}

[delay70] {
	transition: all $animSpeed ease .7s;
}

[delay80] {
	transition: all $animSpeed ease .8s;
}

[delay120] {
	transition: all $animSpeed ease 1.2s;
}